@charset "utf-8";

@media print {

  @page {
      margin: 11% 22% 22% 11%;
  }

  nav {
    display: none;
  }

  main {
    margin: 0;
  }

  h1 {
    font-size: 75px;
    line-height: 125px;
    margin: 0;
  }

  h2 {
    page-break-before: always;
    margin-top: 0;
  }

}
